<div class="row">
  <div class="span8">
    <div class="well">
      <h1>
        <%= gravatar_image_tag @user.email %>
        <%= @title %> 
      </h1>
   </div><!-- /.well -->
   <% unless @users.empty? -%>
     <%= render @users %>
     <%= page_navigation_links(@users) %>
   <% end -%>

 </div>
 <div class="span4">
   <%= render(:partial => "shared/user_stats" ) %>
 </div> 
</div>

