<div class="row">
  <div class="span8">
    <div class="well">
      <h1>
        <%= gravatar_image_tag @user.email %>
        <%= @user.name %>
      </h1>
      <% unless current_user?(@user) -%>
        <div class="follow-form">
          <% if current_user.following?(@user) -%>
            <%= render("shared/button_unfollow") %>
          <% else -%>
            <%= render("shared/button_follow") %>
          <% end -%>
        </div><!-- /.follow-form -->
      <% end -%>
    </div><!-- /.well -->

    <% unless @user.microposts.empty? -%>
      <%= render @microposts %>
      <%= page_navigation_links(@microposts) %>
    <% end -%>



  </div>
  <div class="span4">
    <%= render(:partial => "shared/user_stats" ) %>
 </div> 
</div>

